table,td,tr,th{
	border:1px solid black;
}
.center{
	text-align:center;
}
.width{
	width:100%;
	margin: 25px 0px 25px 0px
}
.whit{
	background-color:black;
	color:white;
}
.same{
	width:250px;
}

/* Your CSS Code here. */